<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <table border="2">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>marks</th>
                <th>subject</th>
                <th>update</th>
                <th>delete</th>
            </tr>
            {% for x in data %}
            <tr>
                <td>{{x.sid}}</td>
                <td>{{x.sname}}</td>
                <td>{{x.smark}}</td>
                <td>{{x.ssub}}</td>
                <td><a href="{% url 'update' x.id %}">Update</a></td>
                <td><a href="{% url 'delete' x.id %}" onclick="return confirm('are you sure to delete this record')">delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'sf' %}">add students</a>
        

</body>
</html>